#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px);
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;
}

.overlay-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay-text {
    width: 800px;
    height: 250px;
    position: absolute;
    bottom: 48px;
    left: 20%;
    max-width: 60%;
    max-height: 60%;

    background: var(--card-bg);
    color: var(--gold-primary);
    background: linear-gradient(
        325deg,
        rgba(20, 24, 28, 0.8) 0%,
        rgba(10, 12, 14, 0.97) 100%
    );
    border: 0.6px solid rgba(212, 175, 55, 0.3);
    border-radius: 16px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 24px 12px 24px;
    justify-content: center;
}

.stage1-overlay-text {
    height: 200px;
}

.overlay-text h2 {
    width: 100%;
    margin-top: 0;
}

.overlay-text p {
    width: 500px;
    margin: 8px 0 0 0;
}
.overlay-img {
    position: absolute;
    bottom: 42px;
    left: 60%;
    max-width: 60%;
    max-height: 60%;
}

.page-container {
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.levels-container {
    width: 100%;
    padding: 0 120px 48px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.level-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
}

.level-button-img {
    width: 80px;
    height: 80px;
}
