#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px);
    z-index: 100000;
    cursor: pointer;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
}

.level-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.playground-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: all 0.5s ease-in-out;
}

@keyframes playgroundFadeInScale {
    from {
        opacity: 0;
        transform: scale(0.6);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.playground {
    flex: 1;
    padding: 0 clamp(16px, 8vw, 120px) 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    animation: playgroundFadeInScale 1s ease-in-out;
}

.play-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.button-back {
    max-width: 170px;
    width: 150px;
    padding: 0;
    background: none;
    border: none;
    color: var(--gold-primary);
    font-size: larger;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.button-back:hover {
    gap: 20px;
}

.button-back:hover .button-back-icon {
    box-shadow: 0 0 15px var(--gold-muted);
}

.button-back-icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--gold-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.button-back-icon img {
    width: 25px;
}

.level-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.card-button-container::before {
    width: 80%;
    content: "";
    position: absolute;
    top: 50%;
    left: 1px;
    right: 0;
    height: 10px;
    background: #5d6a71;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 2px;
    border: 2px solid black;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
}

.level-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
}

.level-button:hover {
    transform: scale(1.1);
}

.level-button-img {
    width: 80px;
    height: 80px;
}

.level-main-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.level-main-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.level-main-header-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.level-header-main {
    margin: 0;
    font-size: clamp(22px, 2.6vw, 36px);
    color: var(--gold-primary);
}

.level-main-header-text p {
    margin: 0;
    font-size: clamp(14px, 1.2vw, 16px);
}

.level-header-secondary {
    margin: 0;
    font-size: clamp(20px, 2.2vw, 28px);
    color: white;
}

.level-video-container {
    width: 100%;
    max-width: 650px;
    height: auto;
    display: block;
    border: 1px solid var(--gold-muted);
    background-color: var(--btn-bg);
    padding: 24px;
}

.resources-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.resource {
    width: 100%;
    padding: 8px 12px;
    background: radial-gradient(
        circle,
        rgba(34, 65, 84, 0.7),
        rgba(34, 65, 84, 1)
    );
    border: 1px solid var(--gold-muted);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.resource:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--gold-muted);
}

.resource-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(14px, 1.2vw, 16px);
}

.resource img {
    width: 100%;
    max-width: 35px;
    height: auto;
    display: block;
}

.resource button {
    border: none;
    background: none;
    padding: 0;
}

.level-links-container {
    width: fit-content;
}

.level-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    font-size: clamp(14px, 1.2vw, 16px);
}

.level-link span {
    color: white;
    border-bottom: 1px solid white;
    transition: all 0.3s ease-in;
}

.level-link:hover span {
    border-bottom: 1px solid var(--gold-muted);
}

.level-link img {
    width: 100%;
    max-width: 25px;
    height: auto;
    display: block;
}

.video-container {
    width: 100%;
    max-height: 408px;
    position: relative;
}

.video-container img {
    width: 100%;
    height: 100%;
}

.level-video-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(10, 12, 14, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-video-overlay img {
    width: 100%;
    max-width: 40px;
    height: auto;
    display: block;
}

.video-page-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 24px;
}

.video-page-text-container {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    z-index: 1000;
}

.video-page-text-container h2 {
    margin: 0;
    font-size: clamp(22px, 2.6vw, 36px);
    color: var(--gold-primary);
}

.video-page-text-container p {
    margin: 0;
}

.video-overlay-container {
    width: 100%;
    max-width: 900px;
    height: auto;
    max-height: 408px;
    display: block;
    position: relative;
}

.video-overlay-img {
    width: 100%;
    max-width: 900px;
    height: auto;
    max-height: 408px;
    display: block;
}

.close-btn {
    z-index: 10001;
    position: absolute;
    top: 30px;
    right: 80px;
}

.close-img {
    width: 100%;
    max-width: 40px;
    height: auto;
    display: block;
}
