.details-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-content {
    background: var(--card-bg);
    color: var(--gold-primary);
    background: linear-gradient(
        90deg,
        rgba(20, 24, 28, 1) 0%,
        rgba(20, 24, 28, 0.8) 65%
    );
    border: 0.6px solid var(--gold-muted);
    
    padding: 40px 60px;
    max-width: 600px;
    width: 100%;
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.details-content h1 {
    margin: 0 0 20px 0;
    font-size: 2rem;
    letter-spacing: 0.5px;
}

.details-content p {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0.5px;
    color: var(--text-main);
}
