@import "../login/Login.css";

.info-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.info-container h2 {
    color: var(--gold-primary);
}

.top-logo {
    max-width: 100px;
    position: absolute;
    top: 0;
}

.stage-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    width: 100%;
    box-sizing: border-box;

    background: linear-gradient(
        180deg,
        rgba(20, 24, 28, 0.7) 0%,
        rgba(10, 12, 14, 0.9) 100%
    );

    border-top: 1px solid rgba(212, 175, 55, 0.3);
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.continue-button {
    width: 150px;
    padding: 12px;
    margin-top: 10px;
    background-color: var(--btn-bg);
    color: var(--gold-primary);
    border: 1px solid var(--gold-muted);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.continue-button:hover {
    background-color: var(--gold-primary);
    color: var(--dark-bg);
    border-color: var(--gold-primary);
}

.back-button {
    width: 150px;
    padding: 12px;
    margin-top: 10px;
    background-color: var(--btn-bg);
    color: var(--btn-add-color);
    border: 1px solid var(--btn-add-color);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.back-button:hover {
    background-color: var(--gold-primary);
    color: var(--dark-bg);
    border-color: var(--gold-primary);
}

.input-error {
    border-color: red !important;
}

/* Stage 1 styles */

.stage1-form {
    width: 100%;
    max-width: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.avatar-circle {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-circle.large {
    width: 100px;
    height: 100px;
    border-color: var(--gold);
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.3);
}

.avatar-circle.small {
    width: 50px;
    aspect-ratio: 1 / 1;
    border: 1px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    cursor: pointer;
}

.selected {
    box-shadow: 0 0 25px rgba(26, 88, 127, 0.8);
}

.avatar-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stage1-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.skip-button {
    width: 100%;
    padding: 12px;
    margin-top: 0;
    background-color: transparent;
    color: var(--gold-primary);
    border: 1px solid transparent;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: serif;
}

.skip-button:hover {
    color: var(--gold-primary);
    border: 1px solid var(--gold-muted);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: serif;
}

.avatars-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.avatar-image {
    max-width: 50px !important;
}

/* Stage 2 styles */

.stage2-form-container {
    max-width: 600px;
    width: 100%;
}

.stage2-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.stage2-main-content-container {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stage-text-container {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.stage-text-tooltip {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.75rem;
    background-color: var(--gold-muted);
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stage2-input-label {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    width: 100%;
    padding: 12px;
    background-color: var(--input-bg);
    border: 1px solid #333;
    color: #fff;
    font-size: 0.9rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
    letter-spacing: 0.5px;
}

.stage2-input-label input {
    padding: 0;
    border: none;
}

.stage2-input-label:focus {
    border-bottom-color: var(--gold-primary);
    outline: none;
}

/* Stage 3 styles */

.stage3-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.stage3-button img {
    width: 20px;
}

/* Stage 6 styles */

.goal-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.goal-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(74, 82, 86, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    padding: 6px 18px;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    color: var(--gold-muted);
}

.goal-card input {
    position: absolute;
    opacity: 0;
}

.goal-content {
    display: flex;
    align-items: center;
    gap: 12px;
}

.goal-content img {
    width: 50px;
}

.goal-card::before {
    content: "";
    width: 11px;
    height: 10px;
    background: var(--gold-primary);
    border-radius: 50%;
    position: absolute;
    right: 23px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    transition: transform 0.2s ease;
}

.goal-card::after {
    content: "";
    width: 18px;
    height: 18px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}

.goal-card:has(input:checked)::before {
    transform: translateY(-50%) scale(1);
}

.goal-card:has(input:checked)::after {
    border-color: rgba(212, 175, 55, 0.3);
}

.goal-card:has(input:checked) {
    background: rgba(27, 39, 44, 0.5);
    color: var(--gold-primary);
    border: 1px solid var(--gold-muted);
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.3);
}

/* Stage 7 */

.stage7-form-container {
    max-width: 400px;
    width: 100%;
}

.stage7-form-label {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.stage7-input-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.stage7-card {
    width: 100%;
    padding: 12px;
}

.stage7-card::before {
    content: "";
    width: 11px;
    height: 10px;
    background: var(--gold-primary);
    border-radius: 50%;
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    transition: transform 0.2s ease;
}

.stage7-card-content img {
    width: 20px;
}

/* Stage 8 styles */

.stage8-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.stage8-input-label {
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    margin: 0;
}

.stage8-input {
    gap: 30px;
}

.stage8-card {
    width: 100%;
    padding: 12px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-main);
}

.stage8-card-content {
    width: auto;
}

.stage8-card::after {
    position: absolute;
    left: 1px;
}

.stage8-card::before {
    left: 6px;
}

.stage8-card:has(input:checked) {
    background: none;
    color: var(--gold-primary);
    border: none;
    box-shadow: none;
}

/* Stage 9 styles */

.stage9-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.stage9-text-container {
    text-align: center;
    color: #fff !important;
}

.fitness-dungeon {
    color: #fff !important;
}

.dungeon-img {
    max-width: 500px !important;
    box-shadow: 0 0 60px rgba(26, 88, 127, 0.8);
    border: none !important;
}

.enter-world-button {
    width: fit-content;
}
