@import "../login/Login.css";

.info-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.info-container h2 {
    color: var(--gold-primary);
}

.top-logo {
    max-width: 150px;
    position: absolute;
    top: 0;
}

.stage-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    width: 100%;
    box-sizing: border-box;

    background: linear-gradient(
        180deg,
        rgba(20, 24, 28, 0.7) 0%,
        rgba(10, 12, 14, 0.9) 100%
    );

    border-top: 1px solid rgba(212, 175, 55, 0.3);
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.continue-button {
    width: 150px;
    padding: 12px;
    margin-top: 10px;
    background-color: var(--btn-bg);
    color: var(--gold-primary);
    border: 1px solid var(--gold-muted);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.continue-button:hover {
    background-color: var(--gold-primary);
    color: var(--dark-bg);
    border-color: var(--gold-primary);
}

.back-button {
    width: 150px;
    padding: 12px;
    margin-top: 10px;
    background-color: var(--btn-bg);
    color: var(--btn-add-color);
    border: 1px solid var(--btn-add-color);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.back-button:hover {
    background-color: var(--gold-primary);
    color: var(--dark-bg);
    border-color: var(--gold-primary);
}

.input-error {
    border-color: red !important;
}

/* Stage 1 styles */

.stage1-form {
    width: 100%;
    max-width: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.avatar-circle {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-circle.large {
    width: 100px;
    height: 100px;
    border-color: var(--gold);
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.3);
}

.avatar-circle.small {
    width: 50px;
    aspect-ratio: 1 / 1;
    border: 1px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    cursor: pointer;
}

.selected {
    box-shadow: 0 0 25px rgba(26, 88, 127, 0.8);
}

.avatar-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stage1-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.skip-button {
    width: 100%;
    padding: 12px;
    margin-top: 0;
    background-color: transparent;
    color: var(--gold-primary);
    border: 1px solid transparent;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: serif;
}

.skip-button:hover {
    color: var(--gold-primary);
    border: 1px solid var(--gold-muted);
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: serif;
}

.avatars-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.avatar-image {
    max-width: 50px !important;
}

/* Stage 2 styles */

.stage2-form-container {
    max-width: 600px;
    width: 100%;
}

.stage2-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.stage2-main-content-container {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stage-text-container {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.stage-text-tooltip {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.75rem;
    background-color: var(--gold-muted);
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stage2-input-label {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    width: 100%;
    padding: 12px;
    background-color: var(--input-bg);
    border: 1px solid #333;
    color: #fff;
    font-size: 0.9rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
    letter-spacing: 0.5px;
}

.stage2-input-label input {
    padding: 0;
    border: none;
}

.stage2-input-label:focus {
    border-bottom-color: var(--gold-primary);
    outline: none;
}
