.level-card-container {
    width: 100%;
    height: 200px;
    border: 1px solid #5d6a71;
    border-radius: 6px;
    display: flex;
    padding: 24px 72px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.level-active {
    width: 100%;
    border: 1px solid var(--gold-primary);
    box-shadow: 0 0 25px rgba(212, 175, 55, 0.9);
}

.absolute-timer-icon {
    position: absolute;
    background: radial-gradient(circle, #c9ab57, #7a621d);
    background-color: var(--gold-muted);
    border: 2px solid var(--gold-primary);
    border-top: none;
    border-left: none;
    box-shadow: 0 0 25px rgba(212, 175, 55, 0.3);
    border-top-left-radius: 6px;

    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
}

.absolute-lock-icon {
    position: absolute;
    background: radial-gradient(circle, #7d8b91, #4a5459);
    border: 2px solid #5d6a71;
    border-top: none;
    border-left: none;
    border-top-left-radius: 6px;

    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
}

.level-card-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.level-card-text h1 {
    margin: 0;
    font-size: 2.5em;
    color: silver;
}

.level-card-text p {
    margin: 0;
    font-size: 1.2em;
    color: silver;
}

.card-text-active h1 {
    color: var(--gold-primary);
}

.card-text-active p {
    color: var(--gold-primary);
}
