.level-card-container {
    width: 100%;
    height: 200px;
    border: 1px solid #5d6a71;
    border-radius: 6px;
    display: flex;
    padding: 24px 72px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(74, 59, 26, 1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.level-card-container:hover {
    transform: scale(1.03);
    box-shadow: 0 0 35px rgba(44, 62, 80, 0.9);
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 62, 80, 0.6);

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding: 10px;
    z-index: 10;
    cursor: not-allowed;
}

.level-active {
    width: 100%;
    border: 1px solid var(--gold-primary);
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.9);
}

.level-active:hover {
    transform: scale(1.03);
    box-shadow: 0 0 35px rgba(212, 175, 55, 0.9);
}

.absolute-timer-icon {
    position: absolute;
    background: radial-gradient(circle, #c9ab57, #7a621d);
    background-color: var(--gold-muted);
    border: 2px solid var(--gold-primary);
    border-top: none;
    border-left: none;
    box-shadow: 0 0 25px rgba(212, 175, 55, 0.3);
    border-top-left-radius: 6px;

    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.absolute-lock-icon {
    position: absolute;
    background: radial-gradient(circle, #7d8b91, #4a5459);
    border: 2px solid #5d6a71;
    border-top: none;
    border-left: none;
    border-top-left-radius: 6px;

    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.level-card-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.level-card-text h1 {
    margin: 0;
    font-size: 2.5em;
    color: silver;
}

.level-card-text p {
    margin: 0;
    font-size: 1.2em;
    color: silver;
}

.card-text-active h1 {
    color: var(--gold-primary);
}

.card-text-active p {
    color: var(--gold-primary);
}

.level-card-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.card-button-container::before {
    width: 80%;
    content: "";
    position: absolute;
    top: 50%;
    left: 1px;
    right: 0;
    height: 10px;
    background: #5d6a71;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 2px;
    border: 2px solid black;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
}
